<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container">
      <img class="logo" src="../../assets/icon/favicon.png" alt="" />
      <ion-title>PepePix</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="details">
    <div class="image-container">
      <img [src]="image?.url" alt="" />
      Time & Date: {{ formatDate(image?.dateTime) }} <br />
      Location: {{ image?.latitude | number : "1.2-4" }} lat / {{
      image?.longitude | number : "1.2-4" }} lng <br />
      Battery Level: {{ ((image?.batteryLevel || 0) * 100) | number : "1.0-0" }}%
      <br />
    </div>
    <ion-button color="dark" class="button" (click)="deleteImage()"
      >Delete Image</ion-button
    >
  </div>
</ion-content>
